*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: #262626;
}
/* MAIN NAV CENTER HOME */
.mainMenuHome {
    height: 1rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.navigationIconsList li{
    display: flex;
    list-style: none;
}
.navigationIconsList li{
    position: relative;
    display: block;
    text-align: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    color: #666;
    background-color: #171515;
    cursor: pointer;
    border: 1rem;
    border-radius: 50%;
    margin: 0 1rem;
}
.navigationIconsList li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #d35400;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}
.navigationIconsList li:hover:before{
    filter: blur(1rem);
    box-shadow: 0 0 15 #d35400;
    transform: scale(1.2);
}